*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@font-face {
    font-family: 'finalf';
    src: url(../font/finalf.ttf) format("ttf");
}
/* NAVBARD + FOOTER */
.logoImg{
    max-width: 5%;
    height: auto;
  
}
.siteTitle-blue{
    display: flex;
    color: #BECDD1;
    font-size: 2rem;
    font-family: 'finalf';
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
}
.footer-blue{
    /* display: flex; */
    min-height: auto;
    height: 35px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0C1F2C;
    color: #BECDD1;
    font-size: 0.6em;
    
}
.header-blue {
    background-color: #0C1F2C;
    height: 20%;
}
.nav-blue{
    display: flex;
    height: inherit;
    justify-content: space-around;
    align-items: center;
}
.nav-blue a:link {
    color: #BECDD1;
    text-decoration: none;
}
.nav-blue a:visited {
    color: #BECDD1;
}

/* BUTTON */

.signout_btn-blue{
    background-color: #197481 ;
    color: white;
    border: none;
    padding: 0.2%;
}
