@media screen and (max-width: 700px){
    .logo-img, .site-title, .nav, .nav a:link, .nav a:visited, footer, .signout_btn { 
        display: none;
    }
    .header{
        height: 35px;
    }
     /* BURGER MENU  */
    .logo-img-burger{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      margin-bottom: 15px;
    }
    .title-burger{
        color: #5BFFB5;
        font-size: 1.2em;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'finalf';
    }
    #menuToggle
    {
      display: block;
      position: relative;
      top: 5px; 
      left: 0px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #5BFFB5;
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: orange;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #5BFFB5;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #5BFFB5   ;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        background: #1b2625;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-120%, 0%);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li .nav-link-burger
    {  
        color: #5BFFB5;
        font-size: 16px;
    }
    #menu li .nav-link-burger, .span-burger{
        display: flex;
        text-align: center;
        color: #5BFFB5;
        font-size: 10px;
    }
    #menu li .signout_btn_burger{
        display: initial;
        margin-bottom: 5px;
        background-color: #057543 ;
        padding-left: 5px;
        padding-right: 5px;
        height: 25px;
        color: white;
        border: none;
    }
    #menu li .img-avatar{
    max-width: 150px;
    max-height: 150px;
    }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }

}
    
    
@media screen and (min-width: 701px){    
    #menuToggle,
    #menuToggle,
    #menuToggle a,
    #menuToggle a:hover,
    #menuToggle input,
    #menuToggle span,
    #menuToggle span:first-child,
    #menuToggle span:nth-last-child(2),
    #menuToggle input:checked ~ span,
    #menuToggle input:checked ~ span:nth-last-child(3),
    #menuToggle input:checked ~ span:nth-last-child(2),
    #menu,
    #menu li,
    #menuToggle input:checked ~ ul,
    #menuToggle { display: none; }
}
