@font-face {
    font-family: 'finalf';
    src: url(../font/finalf.ttf) format("ttf");
}
/* NAVBAR */

.nav{
    display: flex;
    height: inherit;
    justify-content: space-around;
    align-items: center;
}
.nav a:link {
    color: #5BFFB5;
    text-decoration: none
}
.nav a:visited { color: #5BFFB5;  }
.nav a:hover { color: #5BFFB5; }

/* BUTTON */

/* .signout_btn{
    background-color: #057543 ;
    color: white;
    border: none;
    padding: 0.2%;
} */

/* FOOTER */
.footer{
    min-height: auto;
    height: 35px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1b2625;
    font-size: 0.6em;
}
.footer_nav{
    display: flex;
    height: inherit;
    justify-content: space-around;
    align-items: center;
}
.footer a:link{
    color: #5BFFB5;
    text-decoration: none
}
.footer a:visited{
    color: #5BFFB5;
}
.footer_span{
    color: #5BFFB5;
}

@media screen and (max-width: 780px){
    .site-title    { font-size: 1.4em; }

    .nav           { font-size: 1em; }
    .nav a:link    { font-size: 1em; }
    .nav a:visited { font-size: 1em; }
    
    /* BUTTON */
    .signout_btn   { font-size: 1em; }
}

