/* PAGE EDIT PROFIL */
.page-edit-profil{
    background: url("../../Img/EditProfileImg/ff7swordbuster.png")   no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 4rem;
    min-height: 100vh;
}

/* USER INFO */
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    color: #00ff8c  !important;
}
.user-info .avatar img{
    max-height: 200px;
    max-width: 200px;
}
.user-info .pseudo {
    font-size: 2rem;
    font-weight: bold;
}
.user-info .email{
    font-size: 1.4rem;
    font-style: italic;
    color: #fff;
}

@media only screen and (max-width:700px){
    /* PAGE EDIT PROFIL */
    .page-edit-profil {
        background: url("../../Img/EditProfileImg/ff7swordburstermedia.png")   no-repeat center ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover ;
        padding-left: 0;
    }
    .page-edit-profil > div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    /* USER INFO */
    .user-info { color: #00000087; }

    .user-info .avatar { text-align: center; }

    .user-info .pseudo, 
    .user-info .email { text-align: center; }
}